# Assignment 9 - Program 1

In [2]:
import pandas as pd
import seaborn as sns

1. Read the data from the CSV file into a DataFrame and display the first five rows

In [4]:
ramen_data = pd.read_csv('ramen-ratings.csv')
ramen_data.head(5)

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75

2. Group the data and get the average of the groups to produce a DataFrame that looks like this:

In [56]:
ramen_data.groupby([
'Country', 'Brand', 'Style'
]).min()

                                                                        Variety  \
Country   Brand        Style
Australia Fantastic    Cup                               Noodle Chicken Flavour
          Maggi        Pack   Fusian Special Edition Ow... Ow... Spicy Cow M...
          Singa-Me     Cup                         Instant Noodles Beef Flavour
          Suimin       Cup                 Noodle With Oriental Chicken Flavour
          Trident      Pack                      2 Minute Laksa Flavour Noodles
...                                                                         ...
Vietnam   Vifon        Pack                    Asian Style Instant Noodles Beef
          Vina Acecook Bowl                          Bestcook Hot & Sour Shrimp
                       Cup                           Hao Hao Sate Onion Flavour
                       Pack                                     Daily Beef Ball
                       Tray                          Kingcook Tomato Sauce Pork

                              Stars
Country   Brand        Style
Australia Fantastic    Cup     1.00
          Maggi        Pack    5.00
          Singa-Me     Cup     2.00
          Suimin       Cup     2.25
          Trident      Pack    2.00
...                             ...
Vietnam   Vifon        Pack    0.50
          Vina Acecook Bowl    3.00
                       Cup     2.50
                       Pack    2.75
                       Tray    3.50

[578 rows x 2 columns]

3. Group the data in the same way, but this time get both the average and the count.

In [50]:
ramen_group = ramen_data.groupby(['Country','Brand', 'Style']).agg({'Stars': ['mean', 'count']}) 
ramen_group

                                 Stars
                                  mean count
Country   Brand        Style
Australia Fantastic    Cup    3.041667     6
          Maggi        Pack   5.000000     1
          Singa-Me     Cup    2.833333     3
          Suimin       Cup    3.287500     8
          Trident      Pack   2.750000     4
...                                ...   ...
Vietnam   Vifon        Pack   2.877273    22
          Vina Acecook Bowl   3.812500     4
                       Cup    2.500000     1
                       Pack   3.535714    28
                       Tray   3.500000     1

[578 rows x 2 columns]

4. Create a pivot table that shows the average stars by ramen style for each country

In [65]:
ramen_data.pivot_table(index='Country', columns='Stars', values='Stars', aggfunc='mean')

ValueError: Grouper for 'Stars' not 1-dimensional