# Assignment 10 - Program 1

In [2]:
import pandas as pd
import seaborn as sns

1. The data file for this project is available from the Seaborn website. To load this data into a DataFrame,
run this code:
data = sns.load_dataset('diamonds')

In [5]:
diamonds = sns.load_dataset('diamonds')

2. Display the first five rows of data.

In [6]:
diamonds.head(5)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

3. Use a condensed heatmap to identify correlations for the price column. Sort the results, include
annotations that format the values with three decimal places, and remove the color bar.

In [29]:
diamonds['price'] = pd.to_numeric(diamonds['price'], downcast='float')

diamonds['cut'] = diamonds['cut'].astype('category').cat.codes
diamonds['color'] = diamonds['color'].astype('category').cat.codes
diamonds['clarity'] = diamonds['clarity'].astype('category').cat.codes

diamonds.corr()[['price']].round()

            price
carat    0.921591
cut      0.053491
color    0.172511
clarity  0.146800
depth   -0.010647
table    0.127134
price    1.000000
x        0.884435
y        0.865421
z        0.861249